.introduction{
    background-color: $color-primaryBackground;
    border-top: 2px solid darken($color-tertiaryBackground, 10%);

    margin-bottom: 2rem;

    &__localisation{
        height: 2.5rem;
        background-color: $color-tertiaryBackground;

        display: flex;
        justify-content: center;
        align-items: center;
        color: darken($color-tertiaryBackground, 60%);
        & i{
            float: left;
            margin-right: 1rem;
        }
    }

    &__content{
        height: 16rem;
        padding: 1rem 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & p{
            width: 80%;
            text-align: center;
            color: darken($color-tertiaryBackground, 55%);
        }

        & h2{
            margin: 0;
        }
    }
}


.tutorial{
    background-color: $color-secondaryBackground;

    &__list{
        list-style: none;
        margin-left: 0.5rem;
        & li{
            margin: 1rem;
            line-height: 4rem;
            background-color: $color-primaryBackground;
            border-radius: 1rem;
            font-weight: bold;

            box-shadow: 1px 1px 6px 1px rgba(200,200,200,1);

            & span{
                background-color: $color-primary;
                color: white;

                padding: 0.3rem;
                border-radius: 50%;

                min-height: 1.5rem;
                min-width: 1.5rem;

                margin-left: -0.5rem;
                font-size: 0.8rem;
                font-weight: 0;
            }

            & i{
                color: $color-greyText;
                font-size: 1.2rem;
                margin: 0 1rem;
            }
        }


    }
}

.restaurantBox{
    background-color: $color-primaryBackground;
    padding: 2rem 0;

    &__List{
        margin: 0 1rem;
        list-style: none;
        & li{
            height: 15rem;
            border-radius: 1rem;
            background-color: $color-secondaryBackground;
            margin: 1rem 0;

            & img{
                --imgHeight: calc(100% - 4rem);
                max-height: var(--imgHeight);
                width: auto;
                min-width: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;

                object-fit: cover;
            }

            & i{
                float: right;
                color: $color-secondary;
                font-size: 1.5rem;
                margin-right: 1.5rem;
            }

            & div{
                background-color: $color-tertiary;
                color: darken($color-tertiary, 40%);
                font-weight: bold;
                line-height: 1.8rem;
                text-align: center;
                width: 4.5rem;
                border-radius: 0.2rem;

                position: absolute;;
                left: 16.5rem;
                bottom: 1.5rem;
            }
        }
    }
}