.introduction{
    background-color: $color-primaryBackground;
    border-top: 2px solid darken($color-tertiaryBackground, 10%);

    margin-bottom: 2rem;

    &__localisation{
        height: 2.5rem;
        background-color: $color-tertiaryBackground;

        display: flex;
        justify-content: center;
        align-items: center;
        color: darken($color-tertiaryBackground, 60%);
        & i{
            float: left;
            margin-right: 1rem;
        }
    }

    &__content{
        height: 16rem;
        padding: 1rem 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & p{
            width: 80%;
            text-align: center;
            color: darken($color-tertiaryBackground, 55%);
        }

        & h2{
            margin: 0;
        }
    }
}

.tutorial{
    background-color: $color-secondaryBackground;

    &__list{
        list-style: none;
        margin-left: 0.5rem;

        & li{
            margin: 1rem;
            line-height: 4rem;
            background-color: $color-primaryBackground;
            border-radius: 1rem;
            font-size: 0.95rem;
            font-weight: bold;
            box-shadow: 1px 1px 2px 1px rgba(200,200,200,1);

            &:hover{
                animation: tutorialHovering 0.2s ease-in both;
            }

            & span{
                background-color: $color-primary;
                color: white;

                padding: 0.3rem 0.4rem;
                padding-left: 0.5rem;
                border-radius: 50%;

                min-height: 1.5rem;
                min-width: 1.5rem;

                margin-left: -0.7rem;
                font-size: 0.8rem;
                font-weight: 100;
            }

            & i{
                color: $color-greyText;
                font-size: 1.2rem;
                margin: 0 0.7rem;
            }
        }
    }
}

